/*Stling the body section of the passengerCounter*/
.conterDiv {
    width: 80%;
    height: 80vh;
    margin-left: 10%;
    background-color: cadetblue;
    border-radius: 5%;
}

header {
    text-align: center;
}

.conterDiv h1 {
    text-align: center;
    padding-top: 8%;
}

.feedback {
    width: 10%;
    height: 15%;
    background-color: bisque;
    margin-left: 45%;
}

#feedback  {
    padding-top: 50px;
    text-align: center;
}

.conterDiv button {
    width: 10%;
    height: 15%;
    background-color: bisque;
    margin-left: 45%;
    margin-top: 5%;
}